/* // styles/About.module.css */

.container {
  text-align: center;
  padding: 12rem;
}
.title {
  font-size: 50px;
  font-weight: 600;
}
.description {
  font-size: 1rem;
  line-height: 2rem;
  border: 2px solid #000;
  padding: 20px;
}
